@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme {
    --color-tealGreenish: #3B5552;
    --color-bgWhite: #ffffff;
    --color-bgOrange: #f94735;
    --color-bgOffWhite: #9d9d9d;
    --color-bgLightBlack: #1c1c1c;
    --color-bgLightGreen: #0f313a;
    --color-bgOffWhiteDark: #6c6e71;
    --color-TextBlack: #000000;
    --color-TextGen: #575a7b;
    --color-TextOrange: #f94735;
    --color-TextDarkGreen: #0f313a;
    --color-TextDark1: #212529;
    --color-TextDark2: #1e2022;
    --color-TextDark3: #232323;
    --color-TextDark3: #272c49;
}